@tailwind base;
@tailwind components;
@tailwind utilities;
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #88888800;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #334e91;
    border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.custom-scrollbar::-webkit-scrollbar {
    width: 3px; /* Default width */
    height: 3px; /* Default width */
    opacity: 0;
    transition: width 0.3s;
  }
  
  .custom-scrollbar:hover::-webkit-scrollbar {
    opacity: 1;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #334e91; /* Customize thumb color */
    border-radius: 1px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #334e9100;
  }
  .custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background: #334e91;
  }